html {
  font-family: "Tw Cen Mt";
  font-size: 16px;
  background-color: black;
}

body {
  /* background-color: black; */
  color: white;
  padding: 5%;
}

header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4em;
}

#landing {
  display: grid;
  grid-template-columns: 35% 15% 20% 30%;
  grid-template-rows: auto;
  grid-template-areas: "header header header header""left left . right";
}

#content {
  background-color: white;
}

section.left {
  grid-area: left;
}

section.right {
  grid-area: right;
  text-align: right;
}

a {
  color: white;
  display: inline;
  line-height: 1.8em;
  font-size: 2em;
}

a.secondary {
  color: #656565;
}

a.secondary:hover {
  color: white;
}

.links {
  display: flex;
  flex-direction: column;
}

h1,
h2 {
  margin: 0;
}

h1 {
  font-size: 5.5em;
  letter-spacing: -4px;
}

h2 {
  /* font-weight: normal; */
  font-size: 2em;
  letter-spacing: 0px;
}

.logo {
  height: 45px;
  width: 45px;
}

header>span {
  font-size: 1.2em;
}

div.seperator {
  margin: 2em 0;
}

#loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: shrink 1.5s linear 4s 1 forwards;
}

#loader .logo {
  height: 25%;
  width: 25%;
  z-index: 2;
}

.pulse {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 30rem;
}

.pulse circle {
  fill: white;
  transform: scale(0);
  opacity: 0;
  transform-origin: 50% 50%;
  animation: pulse 2s cubic-bezier(.5, .5, 0, 1);
}

.pulse circle:nth-child(2) {
  fill: white;
  animation: pulse 2s 0.75s cubic-bezier(.5, .5, 0, 1);
}

.pulse circle:nth-child(3) {
  fill: white;
  animation: pulse 2s 1.5s cubic-bezier(.5, .5, 0, 1);
}

@keyframes pulse {
  25% {
    opacity: 0.4;
  }

  100% {
    transform: scale(1);
  }
}

@keyframes shrink {
  25% {
    opacity: 0.75;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.25;
  }

  100% {
    opacity: 0;
    z-index: -1;
  }
}


/* MEDIA QUERIES  */
@media(min-width: 1300px) {
  body {
    padding: 5% 17%;
  }

}

@media (min-width: 701px) {
  .right img {
    width: 100%;
    height: 100%;
  }

  html::after {
    background-image: url("./assets/sign.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -1;
    opacity: 0.15;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}


@media (max-width: 375px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 325px) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 700px) {
  #landing {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "header""left";
    padding: 10% 7%;
  }

  .left {
    z-index: 1;
  }

  .right>img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    opacity: 0.15;
  }

}